<!DOCTYPE html>
<html>
  <head>
    <title>KissTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- reset stylesheet -->
    <link rel="stylesheet" type="text/css" href="reset.css">
    <!--Refers to the index file for react inside app/javascript/packs/index.jsx -->
    <%= javascript_pack_tag 'index' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
